.mobileContainer {
  margin-bottom: 5rem !important;
}

.desktopContainer {
  margin-bottom: 7rem !important;
}

.container {
  margin-top: 7rem !important;
}

.desktopImage {
  width: 16rem !important;
  height: 16rem !important;
}