.nav {
  left: 0;
  top: 0;
  color: white;
  font-size: 20px;

  .burger {
    background-color: wheat;
  }

  .item {
    color: white;
  }

  .iconMarginMobile {
    margin-right: 0.5rem;

    @media screen and (min-width: 1024px) {
      margin-right: 0;
    }
  }
}